
            <div class="card content-area">
                <div class="card-innr card-innr-fix">
                    <div class="card-head d-flex justify-content-between align-items-center">
                        <h4 class="card-title mb-0">User Details</h4>
                        <div class="d-flex align-items-center guttar-20px">
                            <div class="flex-col d-sm-block d-none">
                                <a href="user-list.html" class="btn btn-sm btn-auto btn-primary"><em class="fas fa-arrow-left mr-3"></em>Back</a>
                            </div>
                            <div class="flex-col d-sm-none">
                                <a href="user-list.html" class="btn btn-icon btn-sm btn-primary"><em class="fas fa-arrow-left"></em></a>
                            </div>
                            <div class="relative d-inline-block">
                                <a href="#" class="btn btn-dark btn-sm btn-icon toggle-tigger"><em class="ti ti-more-alt"></em></a>
                                <div class="toggle-class dropdown-content dropdown-content-top-left">
                                    <ul class="dropdown-list">
                                        <li><a href="#"><em class="far fa-envelope"></em> Send Mail</a></li>
                                        <li><a href="#"><em class="fas fa-shield-alt"></em> Reset Pass</a></li>
                                        <li><a href="#"><em class="fas fa-ban"></em> Suspend</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gaps-1-5x"></div>
                    <div class="data-details d-md-flex">
                        <div class="fake-class">
                            <span class="data-details-title">Token Balance</span>
                            <span class="data-details-info large">10,000</span>
                        </div>
                        <div class="fake-class">
                            <span class="data-details-title">Contributed</span>
                            <span class="data-details-info large">10 <small>ETH</small></span>
                        </div>
                        <div class="fake-class">
                            <span class="data-details-title">Tranx Status</span>
                            <span class="badge badge-success ucap">Approved</span>
                        </div>
                        <ul class="data-vr-list">
                            <li><div class="data-state data-state-sm data-state-approved"></div> Email</li>
                            <li><div class="data-state data-state-sm data-state-pending"></div> KYC</li>
                            <li><div class="data-state data-state-sm data-state-approved"></div> WL</li>
                        </ul>
                    </div>
                    <div class="gaps-3x"></div>
                    <h6 class="card-sub-title">User Information</h6>
                    <ul class="data-details-list">
                        <li>
                            <div class="data-details-head">Full Name</div>
                            <div class="data-details-des">Abu Bin Ishtiyak</div>
                        </li><!-- li -->
                        <li>
                            <div class="data-details-head">Surname</div>
                            <div class="data-details-des">iO</div>
                        </li><!-- li -->
                        <li>
                            <div class="data-details-head">Email Address</div>
                            <div class="data-details-des">info@softnio.com</div>
                        </li><!-- li -->
                        <li>
                            <div class="data-details-head">Mobile Number</div>
                            <div class="data-details-des">01713040400</div>
                        </li><!-- li -->
                        <li>
                            <div class="data-details-head">Date of Birth</div>
                            <div class="data-details-des">10 Aug, 1980</div>
                        </li><!-- li -->
                    </ul>
                    <div class="gaps-3x"></div>
                    <h6 class="card-sub-title">More Information</h6>
                    <ul class="data-details-list">
                        <li>
                            <div class="data-details-head">Joining Date</div>
                            <div class="data-details-des">08-16-2018  09:04PM</div>
                        </li><!-- li -->
                        <li>
                            <div class="data-details-head">Reg Method</div>
                            <div class="data-details-des">Email</div>
                        </li><!-- li -->
                        <li>
                            <div class="data-details-head">Last Login</div>
                            <div class="data-details-des">08-16-2018  09:04PM</div>
                        </li><!-- li -->
                        <li>
                            <div class="data-details-head">Newsleter Subscription</div>
                            <div class="data-details-des">Yes</div>
                        </li><!-- li -->
                    </ul>
                </div><!-- .card-innr -->
            </div><!-- .card -->
       